<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"/>
    <meta name="generator" content="Hugo 0.79.0"/>
    <title>CoinX - Online Currency Distribution Market</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet"/>
    <link href="./css/new-alerts.css" rel="stylesheet"/>
    <link href="login.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand px-3" href="#">$753,233 cash won</a>
  <center><a class="navbar-brand text-nowrap px-3" href="#">server status: <font color="#558651">online</font></a></center>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">1,663,848 users online</a>
    </li>
  </ul>
</header>
<div class="d-flex h-100 text-center text-white">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1><b>404!</b></h1>
    <p class="lead">page not found</p>
  </main>
</div>
</div>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/coinx.js"></script>
  </body>
</html>
