<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content=""/>
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"/>
      <meta name="generator" content="Hugo 0.79.0"/>
      <title>CoinX · Dashboard</title>
      <!-- Bootstrap core CSS -->
      <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"/>
      <!-- Custom styles for this template -->
     <link href="./css/new-alerts.css" rel="stylesheet"/>
      <link href="dashboard.css" rel="stylesheet"/>
      <link href="login.css" rel="stylesheet"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
     <script src="/socket.io/socket.io.js"></script>
     <script src="/js/common.js"></script>
     <script src="/js/bitcoinaddress-bundle.min.js"></script>
   </head>
   <body>
      <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
         <a class="navbar-brand px-3" href="#">$753,233 cash won</a>
         <center><a class="navbar-brand text-nowrap px-3" href="#">server status: <font color="#558651">online</font></a></center>
         <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
               <a class="nav-link" href="#">1,663,848 users online</a>
            </li>
         </ul>
      </header>
     <div class="d-flex h-100 text-center text-white">
         <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
               <h1><b>CoinX</b> live</h1>
               <span class="lead">welcome back, <%-user.username.toLowerCase()%></span>
            </main>
         </div>
      </div>
     <div class="album">
       <div class="container">
         <div class="row">
           <div class="col col-lg-2 pt-2">
             <div class="card shadow-glass">
               <div class="card-header d-flex text-center justify-content-center">
                 <h4 style="color:#b2b2b2;" class="my-0 fw-normal">recent transactions</h4>
               </div>
               <div class="card-body">
                 you have no recent transaction history.
                 <div class="d-flex justify-content-between align-items-center">
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col pt-2">
             <div class="card shadow-glass">
               <div class="card-header d-flex text-center justify-content-center">
                 <h4 class="my-0 fw-normal">public server list</h4>
                 <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
               </div>
               <div class="card-body">
                 <div class="table-responsive">
                   <table class="table table-borderless table-hover table-striped table-sm">
                     <thead>
                       <tr>
                         <th>date</th>
                         <th>challenger tag</th>
                         <th>opponent tag</th>
                         <th>pot</th>
                         <th></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>1,001</td>
                         <td>Lorem</td>
                         <td>ipsum</td>
                         <td>
                           <span style="color:#aa9108;">$7</span>
                         </td>
                         <td>
                           <img src="./images/greenarrow.png"/>
                         </td>
                       </tr>
                       <tr>
                         <td>1,001</td>
                         <td>Lorem</td>
                         <td>ipsum</td>
                         <td>
                           <span style="color:#aa9108;">$20</span>
                         </td>
                         <td>
                           <img src="./images/greenarrow.png"/>
                         </td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
                 <div class="d-flex justify-content-between align-items-center">
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
           <div class="col col-lg-2 pt-2">
             <div class="card shadow-glass">
               <div class="card-header d-flex text-center justify-content-center">
                 <h4 class="my-0 fw-normal">server management</h4>
               </div>
               <div class="card-body">
                 <div class="alert alert-warning alert-dismissible fade show" role="alert">
                   Our servers are currently in BETA so if you encounter any issues please report them here.
                 </div>
                 <button type="button" class="btn btn-success btn-sm col-12 mt-1" data-bs-toggle="modal" data-bs-target="#create-server-modal">CREATE A SERVER</button>
                 <h4>find servers</h4>
                 <input type="text" name="name" autocomplete="off" placeholder="NAME" class="loginForm" id="email"/>
                 <div class="d-flex justify-content-between align-items-center">
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>

               <!-- Modal -->
               <div class="modal fade" id="create-server-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-centered">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title" id="create-server-label">create a server</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body">
                       <div class="container-fluid">
                         <div id="create-server-errors"></div>
                         
                         <div id="create-server-dialog">
                           <div class="row row-cols-2">
                             <div class="col-md-6 ml-auto">
                               <h4>server name</h4>
                               <input type="text" class="form-control form-control-sm" autocomplete="off" placeholder="NAME" id="room-name"/>
                               <h4>password</h4>
                               <input type="text" class="form-control form-control-sm" autocomplete="off" placeholder="NONE" id="room-password"/>
                               <h4>number of players</h4>
                               <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="maxPlayers" id="twoPlayerRadio" value="2" checked/>
                                 <label class="form-check-label" for="twoPlayerRadio">
                                   2
                                 </label>
                               </div>
                               <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="maxPlayers" id="fivePlayerRadio" value="5"/>
                                 <label class="form-check-label" for="fivePlayerRadio">
                                   5
                                 </label>
                               </div>
                               <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="maxPlayers" id="tenPlayerRadio" value="10"/>
                                 <label class="form-check-label" for="tenPlayerRadio">
                                   10
                                 </label>
                               </div>
                             </div>
                             <div class="col-md-6 ml-auto">
                               <h4>initial wager</h4>
                               <div class="input-group input-group-sm">
                                 <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                                 <input type="text" autocomplete="off" min="0.00" max="10000.00" step="0.01" id="init-wager" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0.00"
                                        onkeypress="return isNumberKey(this, event)" aria-describedby="btc-convert"/>
                               </div>
                               <div id="currency-conversion" style="display:none;">
                                 <div class="d-flex bd-highlight">
                                   <div class="p-1 flex-grow-1 bd-highlight">
                                     <div id="converted-currency" class="form-text"></div>
                                   </div>
                                   <div class="p-1 bd-highlight">
                                     <button type="button" class="btn btn-danger" style="padding: .25rem .5rem;font-size: .65em;">BTC</button>
                                   </div>
                                 </div>
                               </div>
                               <h4>minimum wager</h4>
                               <div class="input-group input-group-sm">
                                 <span class="input-group-text" id="inputGroup-sizing-sm">$</span>
                                 <input type="text" autocomplete="off" min="1.00" max="10000.00" step="0.01" id="min-wager" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="1.00"
                                         onkeypress="return isNumberKey(this, event)" />
                               </div>
                               <div class="p-3 mt-2 border bg-light">
                                 <input class="form-check-input" type="checkbox" value="" id="is-challenger" checked=""/>
                                 <label class="form-check-label" for="is-challenger">
                                   start room as challenger
                                 </label>
                                 <input class="form-check-input" type="checkbox" value="" id="use-btc" checked=""/>
                                 <label class="form-check-label" for="use-btc">
                                   use btc transactions
                                 </label>
                               </div>
                             </div>
                           </div>
                         </div>

                         <div id="server-bitcoin-gateway" style="display:none;">
                           <div class="p-1 m-2 border bg-light">
                             <figure class="m-1 text-center">
                               <blockquote class="blockquote">
                                 <p>select payment method</p>
                               </blockquote>
                               <figcaption class="blockquote-footer">select between our native and lightning network</figcaption>
                             </figure>
                           </div>
                           <figure class="figure d-grid m-1">
                             <button title="1% processing fee takes 10-30 min for transaction to process" data-bs-placement="bottom" data-bs-toggle="tooltip" type="button" class="btn btn-danger" id="native">Native</button>
                             <figcaption class="figure-caption text-center m-2">1% processing fee takes 10-30 min for transaction to process</figcaption>
                           </figure>
                           <figure class="figure d-grid m-1">
                             <button title="2% processing fee instant transactions using the lightning network" data-bs-placement="bottom" data-bs-toggle="tooltip" type="button" class="btn btn-secondary" id="open-node">Open Node</button>
                             <figcaption class="figure-caption text-center m-2">2% processing fee instant transactions using the lightning network</figcaption>
                           </figure>
                         </div>
                         <div id="server-bitcoin-deposit" style="display:none;">
                           <div class="input-group input-group-sm">
                             <span class="input-group-text" id="inputGroup-sizing-sm">
                               <i class="fa fa-bitcoin"></i>
                             </span>
                             <input type="text" autocomplete="off" id="btc-address" class="form-control" placeholder="bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh" readonly=""/>
                           </div>
                           <div class="p-1 m-2 border bg-light">
                             <figure class="m-1 text-center">
                               <blockquote class="blockquote">
                                 <p id="bitcoin-status" class="m-1">waiting for payment</p>
                                 <div id="bitcoin-address-template" class="bitcoin-address-container fs-6" hidden="">
                                   <div>
                                     <span class="bitcoin-address"></span>
                                   </div>
                                   <a href="#" class="bitcoin-address-action bitcoin-address-action-send">
                                     <i class="fa fa-btc"></i>
                                     pay from wallet
                                   </a>
                                   <a href="#" class="bitcoin-address-action bitcoin-address-action-copy">
                                     <i class="fa fa-copy"></i>
                                     copy
                                   </a>
                                   <a href="#" class="bitcoin-address-action bitcoin-address-action-qr">
                                     <i class="fa fa-qrcode"></i>
                                     qr code
                                   </a>
                                   <div class="bitcoin-action-hint bitcoin-action-hint-send">
                                     sending payment to the address from locally installed Bitcoin wallet app.
                                   </div>
                                   <div class="bitcoin-action-hint bitcoin-action-hint-copy">
                                     press CTRL + C or &#x2318; + C to copy the Bitcoin address.
                                   </div>
                                   <div class="bitcoin-action-hint bitcoin-action-hint-qr">
                                     <p>
                                       scan the qr code with your mobile bitcoin app to
                                       make the payment:
                                     </p>
                                     <div class="bitcoin-address-qr-container mx-auto d-block">
                                       <!-- Filled in by JS on action click -->
                                     </div>
                                   </div>
                                 </div>
                                 <strong class="bitcoin-address" id="bitcoin-qrcode"></strong>
                                 <div class="d-flex justify-content-center">
                                   <div class="spinner-border" id="bitcoin-status-spinner" role="status" hidden="">
                                   </div>
                                 </div>
                               </blockquote>
                               <figcaption id="bitcoin-status-message" class="blockquote-footer">make sure to send the full amount through one payment, using the same generated address for multiple payments is not supported</figcaption>
                             </figure>
                           </div>
                           <h4 id="deposit-fee" class="text-center"></h4>
                           <div id="klukt-widget"></div>
                         </div>
                       </div>
                     </div>
                     <div id="server-options" class="modal-footer">
                       <button type="button" id="close-server" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                       <button type="button" id="create-server" class="btn btn-danger">Create</button>
                     </div>
                   </div>
                 </div>
               </div>

             </div>
           </div>
         </div>
         <div class="row justify-content-end">
           <div class="col col-lg-2 pt-2">
             <div class="card shadow-glass">
               <div class="card-header d-flex text-center justify-content-center">
                 <h4 style="color:#b2b2b2;" class="my-0 fw-normal">friends</h4>
               </div>
               <div class="card-body">
                 you have no friends.
                 <div class="d-flex justify-content-between align-items-center">
                   <small class="text-muted">9 mins</small>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
      <footer class="footer">
      <img class="footer-icon" src="/images/logout.png"/>
      <img class="footer-icon" src="/images/chatbox.png"/>
      <img class="footer-icon" src="/images/stats.png"/>
        <div class="container">
          <span class="text-muted">Powered by bitcoin</span>
        </div>
      </footer>
      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
     <script src="/js/coinx.js"></script>
   </body>
</html>
